*{ 
margin:0;
padding:0;
box-sizing:border-box;
}
html,body{ 
height:100%;
background-color:#000000;
}
header{ 
background-color: #171A1FF2;
}
nav{ 
min-height:5rem;
padding:1.2rem 2rem;
display:flex;
gap: 5rem;
align-items: center;
}
.logo{ 
display: flex;
align-items: center;
}
.logo img{ 
height:3rem;
}
.logo p{
color: #A65DE9;
font-size:2rem;
}
nav h1{ 
color: white;
font-size: 1.5rem;
}
#add-todo{ 
margin-top: 4rem;
display: flex;
justify-content: center;
}
.main-content{ 
background-color: #340C5A;
width: 90%;
padding: 2rem;
border-radius: 14px;
box-shadow: 0px 2px 4px #0000001A;
max-width:1200px;
margin-inline:auto;
}
.main-content p{ 
color: white;
font-size: 2rem;
margin-bottom: 2rem;
}
.main-content .inputs{ 
display: flex;
flex-direction: column;
gap: 1rem;
}
.main-content .inputs input{ 
height: 3rem;
padding: 0 1rem;
font-size: 1rem;
border: 2px solid #565D6D;
border-radius: 12px;
background: #1E2128;
outline: none;
color: white;
}
.main-content .inputs button{ 
color: #171A7F;
background: linear-gradient(90deg, #A65DE9CC 0%, #6D8CE8CC 100%);
box-shadow: 0px 2px 4px #A65DE966, 0px 0px 0px #171a1f00;
border: none;
border-radius: 12px;
height: 3rem;
font-size: 1.3rem;
margin-top: 1rem;
}
#show-todos{ 
margin-top: 4rem;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 2rem;
}
#show-todos .buttons{ 
width:90%;
display:flex;
gap:1.5rem;
}
#show-todos .buttons , #show-todos .todos { 
max-width:1200px;
margin-inline:auto;
}
#show-todos .buttons button{ 
height: 3rem;
width: 8rem;
font-size: 1em;
border-radius: 999px;
background-color: #323743;
border: none;
color: #bdc1ca;
font-weight: 700;
}
button:hover{ 
cursor:pointer;
opacity:0.9;
}
#show-todos .buttons #All-tasks{ 
background: #A65DE9;
border:none;
color: #000000;
}
#show-todos .todos{ 
width:90%;
flex-direction: column;
gap: 2rem;
}
#show-todos  #message{ 
color: white;
text-align: center;
font-size: 1.5rem;
margin-top: 2rem;
display: none;
}
.todos .main-container{ 
gap: 2rem;
background: #1E2128;
padding: 2rem;
border-radius:16px;
position:relative;
display:flex;
width:100%;
margin-bottom:1rem;
}
.todos .main-container .save-btn{ 
position: absolute;
right: 8rem;
height: 2.5rem;
width: 8rem;
font-size: 1.5rem;
border-radius: 999px;
border: 2px solid #;
border: none;
background: #A65DE9;
display:none;
}
.todos .main-container input{ 
height: 2rem;
width: 2rem;
}
.todos .main-container .text{ 
width:90%;
display:flex;
flex-direction:column;
gap:1rem;
}
.todos .main-container .text p{ 
color: white;
font-size: 2rem;
}
.todos .main-container .text textarea{ 
width: 100%;
border: none;
background-color: #1E2128;
color: #BDC1CA;
outline: none;
font-size: 1.5rem;
cursor:default;
pointer-events:none;
user-select:none;
}
.todos .icons{ 
display: flex;
flex-direction: column;
gap: 1rem;
}
.todos .icons img{ 
height: 2rem;
}
