*{ 
margin:0;
padding:0;
}
html,body{ 
min-height:100%;
background: linear-gradient(
  270deg,
  #a855f7 0%,   /* violet */
  #6366f1 50%,  /* indigo */
  #22d3ee 100%  /* cyan */
);
background-size:400% 400%;
animation: gradient 12s linear infinite;
}
main{
display: flex;
align-items: center;
justify-content: center;
height:100vh;
padding:1rem;
}
.main-content{ 
background-color: #1e2128;
/*margin: 2rem 0;*/
border-radius: 1.5rem;
padding: 1.5rem;
text-align: center;
width: 100%;
max-width:420px;
}
.main-content h1{ 
color: white;
font-size: 1.8rem;
/*width: 78vw;
text-align: center;
margin: 2rem auto;*/
margin-bottom:1rem;
}
.main-content p{ 
color: white;
font-size: 1rem;
/*width: 65vw;*/
margin: 1.5rem;
}
.main-content p a{ 
text-decoration:none;
color:#a65de9;
}
.main-content .input-boxes{ 
margin:2rem;
width:80%;
}
.main-content .inputs{ 
display: flex;
flex-direction: column;
align-items: flex-start;
/*margin: 0 3rem;*/
gap: 0.5rem;
margin-bottom:1.5rem;
}
.main-content .inputs label{ 
color: white;
font-size: 0.9rem;
}
.main-content .inputs input{ 
width: 100%;
height: 3rem;
border: 2px solid #565d6d;
border-radius: 8px;
background-color: #171a1f;
color: white;
font-size: 1rem;
padding: 0 1rem;
}
.inputs input:focus-visible{ 
border-color:#565d6d;
outline:none;
}
.main-content button{ 
height: 3.2rem;
width: 111%;
font-size: 1.1em;
/*margin-top: 2rem;*/
border-radius: 999px;
border: none;
background-color: #a65de9;
box-shadow: 0 6px 35px #a65de9;
cursor:pointer;
}
.main-content button:hover{ 
background-color:#8a35d7;
}
.horizontal-line{ 
background: #6e727a;
margin: 2rem 0;
border:none;
height:1px;
}

@keyframes gradient{ 
0%{ 
background-position:0% 50%;
}
50%{ 
background-position:100% 50%;
}
100%{ 
background-position:0% 50%;
}
}

/* media queries*/

/* Tablet */
@media(min-width: 640px){ 

}
/* small laptop*/
/* Desktop */
/* Large screens */
